html {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #1f1f1f;
  color: #bcbcbc;
}

#app {
  max-width: 800px;
  margin: auto;
}

.toot {
  border: solid 1px #4e2d50;
  border-top: none;
  padding: 6px;
  text-align: left;
}

.toot .content {
  margin: 0 10px 10px 10px;
  font-size: 16px;
  word-break: break-word;
  overflow-wrap: break-word;
}

.toot .content p:first-child {
  margin-top: 0;
}

.toot .content p:last-child {
  margin-bottom: 0;
}

.toot .content a {
  color: #b373b7;
}

.toot .content a:hover {
  color: #b373b7;
  text-decoration: none;
}

.meta {
  padding: 0 2px 0 6px;
  margin-bottom: 5px;
}

.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
  color: #5d3c5f;
}

.user {
  color: #aa64af;
  margin-right: 10px;
}

.username {
  color: #5d3c5f;
}

.right {
  color: #5d3c5f;
  float: right;
  font-size: 14px;
}

.date {
  color: #5d3c5f;
  text-decoration: none;
}

.date:hover {
  color: #b373b7;
  text-decoration: underline;
}

#instance {
  margin: 20px 0;
}

nav {
  margin: 20px 0;
}

#toots .toot:first-child {
  border-top: solid 1px #4e2d50;
}
